/*
                    * Project Name:     Robotic Learning Platform
                    * Author List:      This file is In-built.
                    * Filename:         players.css
                    * Functions:        -
                    * Global Variables: NONE
                    *
*/

.stage-only {
    width: calc(480px + 1rem);
}

.editor {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.stage-only * {
    box-sizing: border-box;
}
